# Konfigurasi Database PostgreSQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=isi_password_mysql_kamu
DB_NAME=ecolens

# Konfigurasi JWT
SECRET_KEY=isi_secret_key_minimal_32_karakter
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60